@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(to left, #e7bb629f, #598baf);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 50vw;
    border-radius: 7px;
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    box-shadow: 7px 5px 10px 1px rgba(0, 0, 0, 0.377)

}

header > div.imagem {
    width: 100%;
    height: 300px;
    background-image: url(image/construcao.jpg);
    background-size: cover;
    background-position: center;
}

header > h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #aaa;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 2.3em;
    letter-spacing: 2px;
    font-weight: 500;
}

p, form {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    letter-spacing: 0.5px;
}

input {
    margin-bottom: 10px;
    padding: 3px;
}

.email, .senha {
    background-color: #84aee6a4;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.email input, .senha input {
    margin-top: 10px;
    height: 100%;
    border-radius: 5px;
    margin-left: 5px;
}

.botoes {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
}

#entrar {
    background-color: #84AFE6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

#entrar:hover {
    background-color: #485f7c;
    cursor: pointer;
}

#esqueciSenha {
    padding: 10px;
    border: 1px solid #bfc1c4;
    border-radius: 10px;
}

#esqueciSenha:hover {
    background-color: #485f7c;
    color: white;
    cursor: pointer;
}

