@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to bottom, #b7d3f2, #598baf);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 50vw;
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 7px 5px 10px 1px rgba(0, 0, 0, 0.377)

}

header > img {
    width: 50vw;
    height: 40vh;
}

header > h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

p, form {
    padding: 10px;
}

input {
    margin-bottom: 10px;
}

.email, .senha {
    background-color: #84aee6a4;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.email input, .senha input {
    margin-top: 10px;
    height: 100%;
    border-radius: 5px;
    margin-left: 5px;
}

.botoes {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
}

#entrar {
    background-color: #84AFE6;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

#entrar:hover {
    background-color: #485f7c;
    cursor: pointer;
}

#esqueciSenha {
    padding: 10px;
    border: 1px solid #bfc1c4;
    border-radius: 10px;
}

#esqueciSenha:hover {
    background-color: #485f7c;
    color: white;
    cursor: pointer;
}

